* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
#content {
  clear: both;
  margin: 0 auto;
  width: 80%;
}
