* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
#container {
  text-align: left;
  width: 80%;
}
#content {
  clear: both;
  width: 80%;
}

input {
  width: 300px;
  height: 30px;
}

input:focus {
  outline-color: #58CCFF;
  
}

textarea:focus {
  outline-color: #58CCFF;
}
